.App {
  margin: 0;
}

nav {
  background-color: #ffa8a8;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
  border-radius: 20px;
}

main {
  /* width: 100vw; */
  height: 100vh;
  width: 90%;
  margin: auto;
  background-color: rgb(245, 205, 205);
  padding: 10px;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: #8957ab;
}
button a {
  color: rgb(0, 0, 0);
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 50%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #f4eafd;
}

tbody tr:nth-child(odd) {
  background: #e89cc9;
}

.New {
  border: 1px solid gold;
  margin: auto;
  width: 95%;
}

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
}

.showNavigation {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
